html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box{
  background-color: black!important;
  color: white!important;
}

.box-upper{
  height: 300px;

}

.box-bottom{
  height: 270px;
}

.box-score-main{
  text-shadow:
    1px 0 0 plum,
    0 1px 0 plum,
    -1px 0 0 plum,
    0 -1px 0 plum!important
}

.box-score-standard{
  padding-left: 2em;
}

.box-score-sub{
  color: #FF7C00;
  background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.score-header{
  display: flex;
  flex-direction: column;
}

.score-main{
  font-size: 5.2em;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-character;
}

.score-char{
  text-shadow:
    1px 0 0 orange,
    0 1px 0 orange,
    -1px 0 0 orange,
    0 -1px 0 orange!important
}

.text-underline {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #3388dd 30%, #3388dd 70%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-size: 100% 10%;
	background-position: bottom;
}

/* .score-bg {
  background-image: url("/background.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.chart-bg{
  background-color: rgba(0, 0, 0, 0.4);
} */